
.proyectos-section {
    padding: 150px 0;
  }
  
  .proyecto-card {
    max-width: 200px;
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
  }
  
  .proyecto-card .card-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .proyecto-card .card-img-top {
    width: 100%; 
    height: auto; 
  }
  
  .proyecto-card .btn {
    margin-top: 10px;
  }
  
  .proyecto-card .btn + .btn {
    margin-left: 10px; 
    margin-top: 10px;
  }
  
  .proyectos-title {
    color: #867070;
    margin-left: 30px;
  }
  
  .proyectos-button {
    background-color: #867070;
    border-color: black;
    color: white;
  }

  @media (max-width: 768px) {
    .proyecto-card {
      max-width: 100%;
    }
  
    .proyecto-card .btn {
      margin-top: 20px; 
    }
  
    .proyecto-card .btn + .btn {
      margin-left: 10; 
      margin-top: 20px;
    }
  
    .proyectos-button {
      font-size: 14px;
    }
  }
  