.main-content {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    color: #867070;
    margin-top: 160px;
    margin-left: 100px;
  }
  
  .round-image {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-left: 150px;
    border: 6px solid #867070;
  }
  
  .content-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 300px;
  }
  
  .herramientas {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 50px; 
  }
  
  .tools-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1024px) {
  .main-content {
    margin-top: 300px;
    margin-left: 200px; 
  }

  .round-image {
    margin-left: 250px; 
  }

  .herramientas {
    margin-top: 90px;
    margin-right: 300px;
  }
  
  .tools-icons {
   margin-right: 300px;
  }
    }

  
  @media (max-width: 768px) {
    .main-content {
      display: flex;
      flex-direction: column;
      font-size: 2rem; 
      font-weight: bold;
      color: #867070;
      margin-top: 120px; 
      margin-left: 15px; 
    }
  
    .round-image {
      width: 160px; 
      height: 160px; 
      margin-top: 30px;
      margin-left: 0; 
      margin-right: 0; 
      border: 4px solid #867070; 
    }
  
    .content-with-image {
      display: flex;
      flex-direction: column; 
      align-items: center;
      margin-bottom: 100px; 
    }
  
    .herramientas {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap; 
      margin-bottom: 60px; 
    }
  
    .tools-icons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  